<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cosminbaciu.kahoot">
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".profesorActivity.AddTestActivity" />
        <activity android:name=".profesorActivity.AddQuestionActivity" />
        <activity android:name=".studentActivity.QuestionActivity" />
        <activity android:name=".studentActivity.AccesGameActivity" />
        <activity android:name=".studentActivity.AddStudentsProfileActivity" />
        <activity android:name=".studentActivity.FeedbackProfesorActivity" />
        <activity android:name=".profesorActivity.FeedbackStudentActivity" />
        <activity android:name=".profesorActivity.GroupsActivity" />
        <activity android:name=".studentActivity.NoteListActivity" />
        <activity android:name=".profesorActivity.ProfessorActivity" />
        <activity android:name=".profesorActivity.ShowTestsActivity" />
        <activity android:name=".studentActivity.VizualizareFeedbackActivity" />
        <activity android:name=".studentActivity.MainStudentActivity" />
        <activity android:name=".login.ChangePasswordActivity" />
        <activity android:name=".profesorActivity.ProfMenuActivity" />
        <activity android:name=".profesorActivity.StudentsMarks" />
        <activity android:name=".profesorActivity.GenerateRoomCodeActivity" />
        <activity android:name=".studentActivity.TestPageActivity" />
        <activity android:name=".studentActivity.StartTestActivity" />

    </application>

</manifest>